* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
}

.address {
  color: hsl(75, 94%, 57%);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 24px;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 12px;
}

.social-links-list {
  color: hsl(0, 0%, 100%);
  list-style: none;
}

p {
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 30px;
}

ul li a {
  text-decoration: none;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  /* border-radius: 14px;
  margin-bottom: 16px;
  height: 100%;
  width: 100%; */
}

ul li {
  background-color: hsl(0, 0%, 20%);
  padding: 16px 100px;
  margin-bottom: 16px;
  border-radius: 14px;
  font-size: 14px;
}

ul li {
  background-color: hsl(0, 0%, 20%);
  padding: 16px 100px;
  margin-bottom: 16px;
  border-radius: 14px;
  font-size: 14px;
}

img {
  height: 100px;
  border-radius: 50%;
  margin-top: 45px;
  margin-bottom: 26px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 12%);
  height: 656px;
  width: 400px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 14px;
}

ul li:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}
